.outer-wrapper{
    padding: 20px;
}

.inner-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.outer-wrapper h1{
    text-align: center;
}

.product{
    border: 0.5px solid rgba(128, 128, 128, 0.185);
    width: 310px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 5px 5px rgba(128, 128, 128, 0.185);
}
.product .product-image{
    border-radius: 5px;
    border: 0.5px solid rgba(106, 106, 106, 0.185);
}
.text-div{
    position: relative;
}
.text-div p{
    text-align: left;
    width: 100%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.text-div :nth-child(1){
    font-weight: 800;
}
.text-div .cart-btn{
    position: absolute;
    bottom: 3px;
    right: 5px;
    border-radius: 50%;
    padding: 5px;
    border: 0.5px solid rgba(128, 128, 128, 0.185);
    background-color: cadetblue;
    color: #fff;
}
